.git
.github
**/.env
**/.env.*
**/node_modules
**/vendor
**/dist
**/.phpunit.cache
**/.phpunit.result.cache
backend/tests
backend/storage/logs
backend/storage/framework/cache/data
backend/storage/framework/sessions
backend/storage/framework/views
backend/storage/app/public
backend/storage/app/private
backend/database/supabase
backend/database/*.sqlite
backend/database/*.sqlite-journal
